html, body {
    height: 100%;
  }
     
  .mydiv {
    margin: 0;
    display: flex;
  
    /* This centers our sketch horizontally. */
    justify-content: center;
  
    /* This centers our sketch vertically. */
  
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;


  }